@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-grad: linear-gradient(
      266deg,
      #3B78ED 5.02%,
      #FC33E8 94.03%
    );
    --color-grad-reversed: linear-gradient(
      266deg,
      #FC33E8 5.02%,
      #3B78ED 94.03%
    );
    --color-white: #fff;
  }
  body {
    @apply font-primary text-dark;
  }
  .h1 {
    @apply text-[40px] leading-10 font-bold tracking-[10%] uppercase;
  }
  .h2 {
    @apply text-[40px] leading-10 font-bold tracking-[10%];
  }
  .h3 {
    @apply text-[25px] leading-[130%] font-bold tracking-[10%];
  }
  .cust-transition {
    @apply transition-all duration-300;
  }
}

@layer components {
  .btn {
    @apply text-[20px] font-bold w-[147px] h-[51px] flex justify-center items-center rounded-[20px] cursor-pointer;
  }
  .btn:hover {
    transition: all 1s linear;
  }
  
  
  .btn-fill {
    @apply text-white;
    background: var(--color-grad);
    position: relative;
    z-index: 1;
  }
  
  .btn-fill:hover {
    background: var(--color-grad-reversed);
  }
  
  .btn-outline {
    position: relative;
    border-radius: 20px;
    background: var(--color-grad);
    z-index: 1;
  }
  
  .btn-outline:hover {
    background: var(--color-grad-reversed);
  }
  
  .btn-outline::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: var(--color-white);
    border-radius: 19px;
    z-index: -1;
  }
  
  .btn-outline::after {
    content: attr(data);
    background: var(--color-grad);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .btn-outline:hover::after {
    background: var(--color-grad-reversed);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
